name: full_run_win

on:
  workflow_call:
  # Allow manual trigger
  workflow_dispatch:
  schedule:
    # At 17:03 on Saturday (on main SaltStack repo)
    - cron: '3 17 * * 6'

jobs:
  gsv:
    name: Get Salt versions
    if: github.event_name == 'workflow_dispatch' || !github.event.repository.fork
    runs-on: ubuntu-latest
    outputs:
      salt-latest: ${{ steps.get-salt-versions.outputs.salt-latest }}
    steps:
      - id: get-salt-versions
        uses: dafyddj/get-salt-versions@3d9cdd4d4b60a014135ea66afe789046b9423386 # v3.4.5
  test:
    name: Run URL tests
    needs: gsv
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Setup Salt
        uses: dafyddj/setup-salt-win@a81ff6460b4847498f56176fce5b5f76c5fc5de0 # v3.1.0
        with:
          salt-version: ${{ needs.gsv.outputs.salt-latest }}
      - name: Setup `pip` dependencies
        run: |
          salt-pip install -r .cicd/requirements.txt
          if ($LASTEXITCODE) {
              Write-Host ("::error title=salt-pip::salt-pip returned exit code: $LASTEXITCODE")
              exit 1
          }
      - name: Run URL test
        run: |
          & "C:\Program Files\Salt Project\Salt\Scripts\python.exe" .\.cicd\tests.py --cron
